{% extends 'base.html' %}

{% block content %}
    <div class="artist-list-container">

        <a href="{% url 'artist:artist-add' %}">
            <button class="btn">아티스트 추가</button>
        </a>

        <ul class="clearfix">
            {% for artist in artists %}
                <li class="clearfix">
                    <a href="">

                        {{ artist.img_profile }} <br>
{#                        {{ artist.img_profile.url }} -> 이렇게하면 이미지파일이 없는 경우 때문에 에러가 발생해서 아래처럼 if문으로 처리해야함  #}
                        {% if artist.img_profile %} {{ artist.img_profile.url|truncatewords_html:10 }} {% endif %}

{#                        artist.img_profile.url은 함수이기 때문에 없으면 에러가 발생하지만,                              #}
{#                        artist.img_profile.name은 없음에도 불구하고 그 자체로 정적 파일이기 때문에 없어도 에러가 발생하지 않는다.#}

                        {# <img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% else %}No Image{% endif %}" alt="" class="cover"> #}
                        <img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% endif %}" alt="" class="cover">
                        <div class="artist-info">
                            <div class="name">{{ artist.name }}</div>
                            <div>{{ artist.nationality }}</div>
                            <div>{{ artist.birth_date }}</div>
                            <div>{{ artist.constellation }}</div>
                            <div>{{ artist.blood_type }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}


        </ul>
    </div>
{% endblock %}
