{% extends 'base.html' %}

{% block content %}

    <h2><a href="{% url 'artist:artist-search-from-melon' %}">멜론에서 아티스트 검색</a></h2>
    <form action="" method="GET">
        {#        {% csrf_token %}#}
        <div class="form-group">
            <input type="text" name="keyword" class="form-control" value="{{ request.GET.keyword }}">
        </div>
        <button type="submit" class="btn btn-primary">아티스트 검색</button>
    </form>


    <ul>
        {% for artist_info in artist_info_list %}
            <li>
                <img src="{{ artist_info.url_img_cover }}" alt="">
                <span>{{ artist_info.artist_id }} | {{ artist_info.name }}</span>

                <form action="{% url 'artist:artist-add-from-melon' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="artist_id" value="{{ artist_info.artist_id }}">

				<!--
					2/26 수업 첫실습
					만약 우리 DB에 이미 있는 데이터일 경우에는
						DB에 업데이트
					라는 문자열을 버튼의 텍스트로 사용
				-->
                    {% if artist_info.artist_on %}
                        <button type="submit" class="btn btn-primary">DB 업데이트</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">DB에 추가하기</button>
                    {% endif %}

                    {#                    {% if artist_info.artist_id in  %} #}
                    {#                        <button type="submit" class="btn btn-primary">DB 업데이트</button>#}
                    {#                    {% elif %}#}
                    {#                        <button type="submit" class="btn btn-primary">DB에 추가하기</button>#}
                    {#                    {% endif %}#}
                </form>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}